---
layout: layouts/base.njk
---

<section class="section">
  <div class="section__head">
    <div>
      <h1>{{ title }}</h1>
      {% if description %}<p>{{ description }}</p>{% endif %}
    </div>
  </div>

  <div class="grid grid--cards">
    {% for c in collections.category | sortBy("data.order") %}
      <div class="card col-4">
        <a class="card__link" href="{{ c.url }}">
          <div class="card__body">
            <div class="card__title">{{ c.data.categoryName }}</div>
            {% if c.data.metaDescription %}<div class="card__meta">{{ c.data.metaDescription }}</div>{% endif %}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

